<div id="fh5co-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Exemple de réalisations</h2>
					<p>Voici quelques projets informatiques sur lesquels l'exploitant de MS2I Informatique a apporté une contribution active :</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="fh5co-blog animate-box">
						<img class="img-responsive" src="{{ asset(template_path) }}/site/images/etudiant.jpg" alt="">
						<div class="blog-text mt2">
							<h3>Ministère de la Recherche et Enseignement Supérieur</h3>
							<p>AMOA sur le Projet informatique PLAS’O’SOINS (Projet de Recherche de 3,6 Millions d’euros cofinancé par l'Agence Nationale de la Recherche) :</p>
							<ul class="list-nav">
								<li><i class="icon-check2"></i>Accompagnement des développements technologiques.</li>
								<li><i class="icon-check2"></i>Actions de communication liées au projet.</li>
								<li><i class="icon-check2"></i>Actions d’enseignements universitaires pour des élèves Ingénieurs en Informatique et membre de jurys d'évaluation.</li>
							</ul>
						</div> 
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="fh5co-blog animate-box">
						<img class="img-responsive" src="{{ asset(template_path) }}/site/images/aeronautique.jpg" alt="">
						<div class="blog-text mt2">
							<h3>Construction Industrielle Aéronautique</h3>
							<p>Gestion, Conception et Développement du Système d'Information, installé sur 2 sites de l'équipementier aéronautique EADS-AIRBUS, permettant l'acquisition, la gestion, la sauvegarde de données de masses issues d'électroniques de pesage pour les aéronefs AIRBUS A380, A340 et A330.<br /><br />A partir des données mesurées, le calcul du Centre de Gravité est effectué pour chaque avion pesé.</p>
						</div> 
					</div>
				</div><div class="col-lg-4 col-md-4">
					<div class="fh5co-blog animate-box">
						<img class="img-responsive" src="{{ asset(template_path) }}/site/images/energie.jpg" alt="">
						<div class="blog-text mt2">
							<h3>Transport et Distribution d'Energie</h3>
							<p>Pour la Société AREVA & SCHNEIDER ELECTRIC :<br />Expertise technique, Recherche et Développement au sein d'un Service R&D et participation à l'élaboration d'une application permettant la gestion du transport et de la distribution d'énergie très haute tension (380 000 volts).<br /><br />L'application informatique est utilisée par de grands groupes industriels mondiaux.</p>
						</div> 
					</div>
				</div>
				
			</div>
		</div>
	</div>