<div id="fh5co-explore" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Votre partenaire informatique</h2>
					<p>MS2I Informatique propose ses services aussi bien aux particuliers, qu'aux entreprises.</p>
				</div>
			</div>
		</div>		
		<div class="fh5co-explore fh5co-explore1">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-push-5 animate-box">
						<img class="img-responsive" src="{{ asset(template_path) }}/site/images/work_1.png" alt="work">
					</div>
					<div class="col-md-4 col-md-pull-8 animate-box">
						<div class="mt">
							<h3>Proche de vous, désireux de vous aider :</h3>
							<p>La connaissance ne sert que si elle est partagée. MS2I Informatique s'efforce de démocratiser l'Informatique et la rendre accessible à ses clients. Que vous soyez professionnel ou particulier, nous trouverons ensemble une solution à votre problèmatique en informatique.</p>
							<ul class="list-nav">
								<li><i class="icon-check2"></i>Service clé en main</li>
								<li><i class="icon-check2"></i>Service sur mesure</li>
								<li><i class="icon-check2"></i>Conduite au changement technologique</li>
							</ul>
							
						</div>
					</div>
				</div>
			</div>
		</div>

		
	</div>