<footer id="fh5co-footer" role="contentinfo" style="height: 30px;">
		<div class="container">
			

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block"><a href="#" target="_blank">CGV</a> - <a href="#" target="_blank">Informations légales</a></small>
						<small class="block">&copy; 2017 and beyond - <a href="{{ path('index') }}">MS2I Informatique</a> - All Rights Reserved.</small> 
					</p>
					
				</div>
			</div>

		</div>
	</footer>