<div id="fh5co-started" style="background-image:url({{ asset(template_path) }}/site/images/sites-internet-referencement-2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Ensemble, allons plus loin...</h2>
					<p>L'informatique peut et devrait être au service de tous :<br />MS2I INFORMATIQUE démocratise l'informatique et s'efforce de la rendre accessible à tout un chacun. Chaque solution trouvée se doit d'être adaptée à votre besoin particulier.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="{{ path('contact') }}#contact_form" class="btn btn-default btn-lg">Contactez-nous</a></p>
				</div>
			</div>
		</div>
	</div>