{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>

<html lang="fr">

<head>

<meta charset="utf-8">
<meta name="author" content="http://ms2i.net">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="ms2i.net" />

{% block head_content %}
	<!-- Can be overrited on the bundles -->
{% endblock %}



<link rel="icon" type="image/png" href="{{ asset(template_path) }}/site/images/favicon_ms2i_informatique.png" title="Services informatique : maintenance, dépannage, formation, conseil, ingénierie informatique" />


<title>
    {% block title %}
    	MS2I INFORMATIQUE
    {% endblock %}
</title>


{% block stylesheets %}
	<!-- Can be overrited on the bundles -->
{% endblock %}



</head>

<body>

<div class="fh5co-loader"></div>
<div id="page"> <!-- start id="page" -->

{% block body_content %}
	<!-- Can be overrited on the bundles -->
{% endblock %}

<div class="gototop js-top">
	<a href="#" class="js-gotop" title="Accueil site MS2I Informatique"><i class="icon-arrow-up"></i></a>
</div>
		

{% block javascripts %}
	<!-- Can be overrited on the bundles -->
{% endblock %}

</div> <!-- end id="page" -->

</body>

</html>