{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>

<html lang="fr">

<head>

<meta charset="utf-8">
<meta name="author" content="http://ms2i.net">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105145284-2"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-105145284-2');
	</script>
	
	
	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="ms2i.net" />

{% block head_content %}
	<!-- Can be overrited on the bundles -->
{% endblock %}



<link rel="icon" type="image/png" href="{{ asset(template_path) }}/site/images/favicon_ms2i_informatique.png" title="Services informatique : maintenance, dépannage, formation, conseil, ingénierie informatique" />


<title>
    {% block title %}
    	MS2I INFORMATIQUE
    {% endblock %}
</title>


{% block stylesheets %}
	<!-- Can be overrited on the bundles -->
{% endblock %}



</head>

<body>

<div class="fh5co-loader"></div>
<div id="page"> <!-- start id="page" -->

{% block body_content %}
	<!-- Can be overrited on the bundles -->
{% endblock %}

<div class="gototop js-top">
	<a href="#" class="js-gotop" title="Accueil site MS2I Informatique"><i class="icon-arrow-up"></i></a>
</div>
		

{% block javascripts %}
	<!-- Can be overrited on the bundles -->
{% endblock %}

</div> <!-- end id="page" -->

</body>

</html>