ul.liste_ville
{
	list-style-type: none;
}
     
.cadreMap
{
	margin-bottom: 20px;
}

#oMap
{
	height: 320px;
	margin-bottom: 20px;
	border: 1px solid #8e8d8d;
}

#page
{
	min-width: 250px;
}

.blog-text {
	height: 500px;
}

.mention_adresse
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

.mention_adresse p
{
	color: #4396b8;
	line-height: 1.2;
	font-size: smaller;
}

.formErrors
{
	color: #d84949;
	font-weight: bold;
	display: inline-block;
	margin-left: 1%;
}
